@page "/"

<PageTitle>Home</PageTitle>


<div class="container-fluid">
    <div class="bg-light text-dark py-5">
        <div class="container text-center">
            <h1 class="display-4 fw-bold">dotnet-starter-bootstrap</h1>
            <p class="lead">My simple configuration to start ASP.NET sites.</p>
            <a href="#features" class="btn btn-primary btn-lg mt-3">Learn More</a>
        </div>
    </div>
</div>
